{
  "env": {
    "production": {
      "presets": ["react"],
      "plugins": [ "transform-object-rest-spread"]
    },
    "development": {
      "presets": ["react"],
      "plugins": ["react-hot-loader/babel", "transform-object-rest-spread"]
    }
  }
}
