.Python
.cache/
__pycache__/
bin/
include/
lib/
pip-selfcheck.json
share/
testbank.egg-info
play.py
notes.org
figures/
.#*
*.o
*.out
*.gz
*.log
*.aux
*.bbl
*.blg
*.fff
*.ttt
*.aaa
*.txt
.Rhistory
*-Ex.R

### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db